<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Heladería Angie</title>
</head>
<body>
    <header>
        <h1>Bienvenido a Heladería Angie</h1>
        <h2>¡Usuario logueado con éxito!</h2>
    </header>
    <nav>
        <a href="../heladeria">Inicio</a>
        <a href="productos">Productos</a>
        <a href="ingredientes">Ingredientes</a>
    </nav>
    <footer>
        <p>Heladería Angie &copy; 2024</p>
    </footer>
</body>
</html>
